.container{
	width:990px;
	height:590px;
	background-color:#FF5050;
}



.container .content{
	width:750px;
	height:100%;
	background-color:#9900FF;
	float:left;	
}
.sidebar{
	width:240px;
	height:590px;
	background-color:lime;
	float:left;
}