.header{
	width:990px;
	height:120px;
	background-color:#99CCFF;
}
.logo{
	width:200px;
	height:100%;
	background-color:#FF5050;
	float:left;
}
.header .header_content{
	width:790px;
	height:120px;
	background-color:#339933;
	float:right;
}