button{
width:100px;
height:80px;
background-color:rgb(97, 195, 212);
font-size: 40px;
color:white;
font-family: cooper;
font-weight: bold;
border-radius:20px;
}
span{
    font-size: 60px;
    padding:60px;
}
.count{
  padding-top: 20%;
  padding-left: 35%;
}